.movie-card {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  margin: auto 20px;
  padding: 10px;
  min-width: 300px;
}

.movie-poster {
  margin: auto;
  width: 270px;
}

.star {
  cursor: pointer;
  padding: 0 3px;
  width: 20px;
}

.movie-details-btn {
  background: white;
  border: 3px solid black;
  cursor: pointer;
  font-size: 1.7em;
  margin-top: 10px;
  padding: 5px 0;
}

.movie-details-btn:hover {
  background: rgb(7, 92, 26);
  color: white;
}