.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

form {
  width: 90%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #0C5A1D;
  color: white;

}

input {
  width: 80%;
  height: 5em;
}

.login-link {
  width: 100%;
  height: 3em;
}

.login-container {
  width: 40%;
  height: 3em;
}

.login-button {
  width: 100%;
  height: 3em;
}

.login-button:hover {
  background-color: yellow;
  color: #0C5A1D;
}

@media only screen and (max-width: 600px) {
  .login-container {
    align-items: flex-start;
    height: 100vh;
    padding-top: 20%;
    width: 80%;
  }
  form {
    height: 20em;
  }
  input, placeholder {
    font-size: 1em;
    padding: 3px;
  }
}
