.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: #C4C4C4
}

.login-image-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img {
  width: 90%;
  height: 45em;
}