@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C5A1D;
    padding: 1em;
}

.site-heading {
    color: #c5ef7c;
    font-family: 'Dokdo', cursive;
    font-size: 3em;
    margin: auto 20px;
    text-align: left;
    width: fit-content;
}

.header-icon-container {
    width: 50%;
    display: flex;
}

.icon {
    height: 5em;
    margin: 0;
}

.nav-login-div {
    margin-top: 20px;
    margin-left: 25%;
    justify-content: right;
}

.user-name {
    color: white;
}

.nav-loggin-button {
    width: 200px;
    height: 40px;
    border-radius: 4px;
}