@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

.nav-bar {
    display: flex;
    flex-direction: space-between;
    background-color: #0C5A1D;
}



.site-heading {
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 3em;
    margin: auto 20px;
    /* text-align: left; */
    width: 50%;
}

.icon {
    margin-top: 65px;
}

.nav-loggin-div {
    margin: auto 20px;
    /* margin-left: 25%; */
    /* justify-content: right; */
}

.user-name {
    color: white;
}

.nav-loggin-button {
    width: 200px;
    height: 40px;
    border-radius: 4px;
}